<nav>
    <div class="nav-wrapper">
      <img src="https://www.bandtogethernc.org/wp-content/uploads/2015/08/l_band-together.jpg" class="brand-logo right"/>
      <ul class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/profiles">Profiles</a></li>
        <li><a href="/searches">Search</a></li>
      </ul>
    </div>
</nav>
