<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo right">Logo</a>
      <ul class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/profiles">Profiles</a></li>
        <li><a href="/groups">Groups</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/searches">Search</a></li>
      </ul>
    </div>
      <div class="input-field">
      <input id="search" type="search" required>
      <label for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </div>
</nav>
