<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <title>Band Together</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 90%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body id="map-container">
    <% include ./partials/header %>
    <div id="map"></div>
    <script>
      var markers = [
        {
            "type": "Point",
            "coordinates": [
                -111.891047, 40.760779
            ]
        },
        {
            "type": "Point",
            "coordinates": [
                -111.904356, 40.765148
            ]
        },
        {
            "type": "Point",
            "coordinates": [
                -111.891047, 40.760779
            ]
        },
        {
            "type": "Point",
            "coordinates": [
               -111.947980, 40.800698
            ]
        },
        {
            "type": "Point",
            "coordinates": [
               -111.928024, 40.816777
            ]
        },
        {
            "type": "Point",
            "coordinates": [
             -111.872921, 40.781772
           ]
        },
        {
            "type": "Point",
            "coordinates": [
               -111.874015, 40.756810
             ]
        },
        {
            "type": "Point",
            "coordinates": [
               -111.893799, 40.753803
            ]
        },

        {
            "type": "Point",
            "coordinates": [
              -111.936543, 40.740083
              ]
        }
      ]
      function initMap() {
        var myLatLng = {lat: 40.7607793, lng: -111.8910474};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: myLatLng
        });

        for(var i = 0; i < markers.length; i++) {
          var lat = markers[i].coordinates[1];
          var lng = markers[i].coordinates[0];

          (function addMarker(lat, lng) {
            new google.maps.Marker({
              position: {lat: lat, lng: lng},
              map: map,
              title: 'Hello World!'
            });
          })(lat, lng)
        }



        // var marker = new google.maps.Marker({
        //   position: myLatLng,
        //   map: map,
        //   title: 'Hello World!'
        // });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2nbWUZstgyw-RpkoUF-Q8y4GBT0X-FnU&callback=initMap">
    </script>
  </body>
</html>
